<%= tinymce_assets %>
<%= tinymce %>
<%= form_for(@note) do |f| %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, input_html: {class: "validate"} %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'tinymce', :rows => 40, :cols => 120 %>
      </div>
    </div>

    <div class="card-action">
      <%= link_to '<i class="mdi-content-backspace left"></i> Back'.html_safe, notes_path, class: 'waves-effect waves-light btn red darken-4 white-text' %>
      <%= button_tag(type: 'submit', class: "waves-effect waves-light btn light-green darken-4") do %>
          Submit <i class="mdi-content-send right"></i>
      <% end %>
    </div>
<% end %>

<script>
    <% if @note.errors.any? %>
    <% @note.errors.full_messages.each do |message| %>
    Materialize.toast('<li><%= message %></li>', 6000, 'rounded');
    <% end %>
    <% end %>
</script>