<!DOCTYPE html>
<html lang="en">
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title><%= yield :title %>Key-Note</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/header' %>

<main>
  <%= yield %>
</main>

<%= render partial: 'shared/footer' %>

<script>
    $(document).ready(function(){
        <% flash.each do |type, message| %>
        Materialize.toast('<%= message %>', 3000, 'rounded');
    <% end %>
    });
</script>
</body>
</html>
